server:
  http_listen_port: 3200

distributor:
  receivers:
    otlp:
      protocols:
        http:
          endpoint: 0.0.0.0:4318

storage:
  trace:
    backend: local
    local:
      path: /data/tempo/traces

ingester:
  trace_idle_period: 10s

compactor:
  compaction:
    block_retention: 1h